div:nth-child(1) {
    color: wheat;
}

div:nth-child(2) {
    color: rebeccapurple;
}

div:nth-child(3) {
    color: red;
}

div:nth-child(4) {
    color: tan;
}

div:nth-child(5) {
    color: teal;
}

div:nth-child(6) {
    color: thistle;
}

div:nth-child(7) {
    color: tomato;
}

div:nth-child(8) {
    color: turquoise;
}

div:nth-child(9) {
    color: yellow;
}

div:nth-child(10) {
    color: yellowgreen;
}

div:nth-child(11) {
    color: indianred;
}

div:nth-child(12) {
    color: indigo;
}

div:nth-child(13) {
    color: olive;
}

div:nth-child(14) {
    color: olivedrab;
}

div:nth-child(15) {
    color: orange;
}

div:nth-child(16) {
    color: orangered;
}

div:nth-child(17) {
    color: orchid;
}

div:nth-child(18) {
    color: purple;
}

div:nth-child(19) {
    color: aqua;
}

div:nth-child(20) {
    color: slategrey;
}

div:nth-child(21) {
    color: darkblue;
}

div:nth-child(22) {
    color: darkred;
}

div:nth-child(23) {
    color: darkmagenta;
}

div:nth-child(24) {
    color: darkkhaki;
}

div:nth-child(25) {
    color: fuchsia;
}

div:nth-child(26) {
    color: gold;
}

div:nth-child(27) {
    color: silver;
}

div:nth-child(28) {
    color: lawngreen;
}

div:nth-child(29) {
    color: brown;
}

div:nth-child(30) {
    color: violet;
}

div:nth-child(31) {
    color: navy;
}

div:nth-child(32) {
    color: maroon;
}

div:nth-child(33) {
    color: cornflowerblue;
}

div:nth-child(34) {
    color: sienna;
}

div:nth-child(35) {
    color: lightcoral;
}

div:nth-child(36) {
    color: crimson;
}

div:nth-child(37) {
    color: black;
}

div:nth-child(38) {
    color: firebrick;
}

div:nth-child(39) {
    color: midnightblue;
}